h1 {
     font-size: 40px;
     color:rgb(255, 123, 0);
     text-align: center;
}
h2 {
    font-size: 35px;
    color:rgb(99, 192, 99);
    text-align: center;

}

body{
    background: rgb(147, 150, 149);
    margin-top: 20px;
    margin-bottom: 30px ;
}


.body {
    text-align: center;
    color: rgb(188, 111, 207);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.special{

    color: purple;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}