h1 {
     font-size: 40px;
     color:blue;
     text-align: center;
}
h2 {
    font-size: 35px;
    color:green;
    text-align: center;

}

body{
    background: aquamarine;
    margin-top: 10px;
    scroll-margin-bottom: 10px ;
}


.body {
    text-align: center;
    color: rgb(188, 111, 207);
    font-size: 25px;
}

.special {
     font-style: italic;
     text-align: inherit;
     font-size: 20px;
     color:purple

}