body{
    background: aquamarine;
}


.body {
    text-align: center;
    color: rgb(214, 146, 62);
    font-size: medium;
}

.special {
     font-style: italic;
     text-align: initial;
     font-size: small;

}