body{
    background: aquamarine;
}


.body {
    text-align: center;
    color: rgb(188, 111, 207);
    font-size: 25px;
}

.special {
     font-style: italic;
     text-align: inherit;
     font-size: 20px;

}